<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/pic/pic3.png">
        <title>About</title>        
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class = "main-content">
        {{>header}}
        <p>This site was created by IShanka Divanjana</p>
        </div>
        {{>footer}}
    </body>
</html>