<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/pic/pic3.png">
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class = "main-content">
        {{>header}}
        <p>Use this get your help</p>
        </div>
        {{>footer}}
    </body>
</html>